@import url(./font.css);
.ending-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #000000, #1a1a1a 60%, #2c2c2c 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0px;
  animation: fadeIn 1s ease-in forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes sideShake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-8px);
  }
}

.ending-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bounce {
  animation: bounce 1.2s ease-in-out infinite;
}

.side-shake {
  animation: sideShake 1.2s ease-in-out infinite;
}



.ending-image1 {
  width: 200px;
  height: auto;
  display: block;
  margin: 20px auto 0 auto; /* 위에만 20px margin 줌 */
}

.ending-image2 {
  width: 250px;
  height: auto;
  display: block;
  margin: 50px auto 0 auto; 
}

.ending-image3{
  width: 200px;
  height: auto;
  display: block;
  margin: 10px auto 0 auto; 
}


.ending-text {
  color: #e4dcc9;
  font-size: 2.5rem;
  margin-top: 140px;
   margin-bottom: 0px; 
  font-family:'BMkkubulimTTF-Regular';
}

.ranking-text {
  color: #e4dcc9;
  font-size: 1.5rem;
  margin-top: 20px;
   margin-bottom: 0px;  
  font-family:'BMkkubulimTTF-Regular';
}

.retry-btn {
  width: 180px;
  margin-top: 50px;
  cursor: pointer;
  background-color: #897d5f;
  color: #e4dcc9; 
  font-size: 1.0rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-family: 'BMkkubulimTTF-Regular';
  transition: all 0.2s ease;
}

.retry-btn:hover {
  transform: scale(1.05);
  background-color: #f0e7d5;
}


.ranking-frame {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  top:80px;
  width: 60%;
  height: 70%;
  border: 10px solid #e4dcc9;
  padding: 20px;
  background-color: #f7f3eb;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
  overflow: hidden; /* 전체 프레임 넘침 방지 */
  color: #897d5f;
  font-family:'BMkkubulimTTF-Regular';
  font-size: 1.4rem;
}

.ranking-list {
  width: 100%;
  max-height: 80%; /* 리스트 최대 높이 제한 */
  overflow-y: auto;
  padding-left: 40px;
  padding-right: 0px;
  padding-top: 0px;
}

.rank-item {
  display: flex;
  align-items: center;
  width: 93%;
  height: 15%;
  background-color:  #e4dcc9;
  border-radius: 12px;
  padding: 10px 20px;
  color: #897d5f;
  font-family:'BMkkubulimTTF-Regular';
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  margin-bottom: 15px; 
}

.rank-badge {
  font-size: 2.0rem;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin-right: 15px;
  background-color: #897d5f;
  color: white;
}

.rank-1 {
  background-color: gold;
  color: #333;
}

.rank-2 {
  background-color: silver;
  color: #333;
}

.rank-3 {
  background-color: #cd7f32; // 동색 (브론즈)
  color: #fff;
}


.rank-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; // 양쪽으로 퍼지게
}

.rank-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.rank-score {
  font-size: 1rem;
}


.close-btn {
  position: absolute;
  top: 5px;
  left: 10px;        
  background: none;
  border: none;
  font-size: 1.0rem;
  color: #897d5f;
  cursor: pointer;
  z-index: 10000;
  font-weight: bold;
}

.close-btn:hover {
  color: #000;
}
